
<!-- footer -->

<footer class="top">
    <div class="row ">
        <div class="col-md-4">
            <span class="copyright">Copyright &copy; European Trade 2017</span>
        </div>
        <div class="col-md-4">
            <ul class="list-inline social-buttons">
                <li><a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="list-inline quicklinks">
                <li>
                    <a href="#portfolioModalprivacy" class="portfolio-link" data-toggle="modal">Privacy policy</a>
                </li>
                <li>
                    <a href="#portfolioModalterm" class="portfolio-link" data-toggle="modal">Terms of use</a>
                </li>
            </ul>
        </div>
    </div>
    </div>
</footer>
<!--/.footer-->

<!-- Portfolio Modal Privacy policy -->
<div class="portfolio-modal modal fade" id="portfolioModalprivacy" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Privacy policy</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/dreams-preview.png" alt="">
                            <p>

                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae odio dolor. Aenean tempor est et massa hendrerit, a placerat nulla mattis. Aliquam elementum eros sed rhoncus suscipit. Sed sed leo eu lorem convallis lobortis. Fusce quis eros id massa vehicula ullamcorper ut at ex. Morbi eget risus mauris. Morbi sagittis purus et mattis sollicitudin. Nunc molestie nisl nisl, vitae pretium dui placerat id. Suspendisse potenti. Fusce ac tortor diam. Aenean elit ex, egestas vel aliquam sit amet, accumsan vel justo. Sed venenatis elementum risus, nec dictum ligula bibendum ultricies. Integer suscipit leo sit amet orci bibendum ornare. Donec at elementum nisl. Nunc aliquet fermentum mattis.

                                Vestibulum congue eget urna a dapibus. Mauris rhoncus, neque et auctor suscipit, ligula nibh congue dolor, interdum egestas nibh libero vitae risus. Cras consectetur at ipsum vel commodo. Nam ut blandit neque. Cras quis justo in nunc efficitur rutrum sed quis mauris. Fusce dignissim orci a enim gravida ultricies. Suspendisse id nunc in magna imperdiet interdum. Nunc ante ligula, ullamcorper sed aliquam eu, efficitur nec nisl. Proin suscipit pulvinar risus. Nulla fringilla vestibulum eros, sit amet mattis sem facilisis tempus. Phasellus a eleifend nisl, nec condimentum nisl. Pellentesque vulputate elit vel cursus facilisis. Nam neque dolor, mattis non efficitur id, placerat et erat. Vestibulum porta vehicula congue. Ut pretium placerat dolor.

                                Proin a neque vel diam scelerisque sollicitudin. Ut volutpat mattis tempus. Mauris at neque felis. Cras eros leo, varius nec lobortis in, malesuada id est. Ut finibus orci eget sapien fermentum, molestie semper orci ultricies. Nullam eget magna consectetur, suscipit lectus sed, efficitur tellus. Etiam elementum nibh non rutrum scelerisque.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Terms of use</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal Terms of use -->
<div class="portfolio-modal modal fade" id="portfolioModalterm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Terms of Use</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/dreams-preview.png" alt="">
                            <p>

                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae odio dolor. Aenean tempor est et massa hendrerit, a placerat nulla mattis. Aliquam elementum eros sed rhoncus suscipit. Sed sed leo eu lorem convallis lobortis. Fusce quis eros id massa vehicula ullamcorper ut at ex. Morbi eget risus mauris. Morbi sagittis purus et mattis sollicitudin. Nunc molestie nisl nisl, vitae pretium dui placerat id. Suspendisse potenti. Fusce ac tortor diam. Aenean elit ex, egestas vel aliquam sit amet, accumsan vel justo. Sed venenatis elementum risus, nec dictum ligula bibendum ultricies. Integer suscipit leo sit amet orci bibendum ornare. Donec at elementum nisl. Nunc aliquet fermentum mattis.

                                Vestibulum congue eget urna a dapibus. Mauris rhoncus, neque et auctor suscipit, ligula nibh congue dolor, interdum egestas nibh libero vitae risus. Cras consectetur at ipsum vel commodo. Nam ut blandit neque. Cras quis justo in nunc efficitur rutrum sed quis mauris. Fusce dignissim orci a enim gravida ultricies. Suspendisse id nunc in magna imperdiet interdum. Nunc ante ligula, ullamcorper sed aliquam eu, efficitur nec nisl. Proin suscipit pulvinar risus. Nulla fringilla vestibulum eros, sit amet mattis sem facilisis tempus. Phasellus a eleifend nisl, nec condimentum nisl. Pellentesque vulputate elit vel cursus facilisis. Nam neque dolor, mattis non efficitur id, placerat et erat. Vestibulum porta vehicula congue. Ut pretium placerat dolor.

                                Proin a neque vel diam scelerisque sollicitudin. Ut volutpat mattis tempus. Mauris at neque felis. Cras eros leo, varius nec lobortis in, malesuada id est. Ut finibus orci eget sapien fermentum, molestie semper orci ultricies. Nullam eget magna consectetur, suscipit lectus sed, efficitur tellus. Etiam elementum nibh non rutrum scelerisque.

                                Nulla scelerisque, turpis eu aliquam varius, enim felis auctor mauris, nec ultricies arcu elit in diam. Suspendisse eget arcu vel sem fermentum auctor. Fusce quis odio nec nunc tempus dignissim in sed sapien. Curabitur non tempor dolor. Sed non libero scelerisque, congue sapien at, vehicula lacus. Donec at mattis velit. Morbi efficitur in nisi accumsan pretium.

                                Nulla turpis lectus, consequat id neque nec, feugiat cursus erat. Nunc ac nisi at odio ornare dapibus. Nulla mollis arcu eget lectus malesuada, non euismod tortor aliquam. Fusce ut fringilla metus. Duis volutpat vel metus consequat cursus. Maecenas vehicula lorem augue, eget eleifend orci tincidunt sed. Quisque ac auctor lacus. Aenean vitae efficitur nisl. Suspendisse facilisis porttitor lacinia.

                                Vestibulum mattis tincidunt est a ultricies. Nulla imperdiet faucibus porttitor. Nam non elit in purus vestibulum ullamcorper. Nullam nec lectus a ante faucibus rutrum. Aliquam erat volutpat. In elementum finibus porttitor. Etiam dui lectus, rhoncus sed felis et, commodo faucibus nisl. Vivamus et varius risus. Aliquam fringilla urna risus, id luctus mi rhoncus vitae. Sed ac turpis id tortor bibendum hendrerit et vitae orci. Sed gravida vel ligula lacinia rutrum. Quisque vitae varius nibh, ut sollicitudin neque. Ut interdum quis velit non fermentum. Cras mi nisi, vehicula a lacinia id, sodales eget risus. Sed suscipit elit vitae diam aliquet, nec fringilla erat eleifend. Morbi sodales vel neque sed aliquam.

                                Quisque varius dapibus faucibus. Quisque tempus sodales lacus, et accumsan arcu facilisis vel. Morbi porttitor justo vel felis finibus facilisis. Etiam augue urna, aliquam faucibus quam ut, molestie dictum elit. Ut libero leo, iaculis eget mollis quis, mattis ac ex. Integer eu tellus sagittis, ultricies est nec, venenatis nisi. Aenean quis feugiat augue. Duis quis pulvinar felis.

                                Sed feugiat lectus sapien, et ultricies lectus lacinia id. Vivamus fringilla dictum ipsum. Fusce convallis tempus felis eu faucibus. Aliquam id arcu lacinia, bibendum nibh non, ultricies neque. Praesent elementum nulla nec dolor posuere, placerat laoreet justo iaculis. Suspendisse vehicula lacinia orci, nec laoreet ex venenatis ut. Duis dignissim velit id arcu vulputate hendrerit.

                                Phasellus suscipit diam et dui ultricies, non faucibus sapien pulvinar. Maecenas ac rhoncus tellus. Fusce eget tortor magna. In dolor lectus, mattis vitae lacus vitae, porttitor porta lorem. Sed blandit aliquet turpis sed fermentum. Phasellus ut ultrices tortor, non rhoncus neque. Integer odio tortor, tristique vel aliquam sed, pretium sit amet nulla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

                                Etiam eros enim, placerat id hendrerit et, aliquam eu lectus. Vivamus ac semper erat. Mauris nulla mi, egestas vel eros non, vehicula facilisis lorem. In ultrices, nisl eget sagittis tristique, justo elit mattis leo, eu iaculis ligula mauris id odio. Praesent sagittis augue felis, eget volutpat diam vehicula a. Proin ligula neque, egestas at sagittis non, convallis quis ante. Sed mollis, tellus ac dignissim bibendum, velit sem pulvinar velit, quis ornare turpis elit quis neque. Cras eu lacinia neque, eget mattis quam. Praesent eget mi non ante volutpat vestibulum et vitae sapien. Fusce vulputate convallis neque vehicula dictum. Mauris lacinia imperdiet facilisis. Fusce mattis quam pulvinar dui fringilla, in molestie odio varius. Sed iaculis libero metus, malesuada eleifend tortor mollis et. Proin dolor diam, euismod dictum volutpat eu, malesuada vitae tellus. </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Terms of use</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>