<div class="col-lg-4 col-md-4 col-sm-12 side-bar">


    <h4>LES DERNIÈRES ACTUS</h4>
    <small>Dernière mise à jour: 16/09 à 15:00 </small>

    <!-- Tab panes -->
    <div class="tab-content sidebar-tabing" id="nav-tabContent">
        <div class="tab-pane active" id="home" role="tabpanel">
            <!-- date tab with link to the all articles by day page -->
            <div class="row>">
                <a href="#">
                    <h5 style="background: #FF7B00; padding: .5em; color: #ffffff; text-align: left; text-decoration: none !important;">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        Samedi 16 Septembre
                    </h5>
                </a>
            </div>
            <!-- ./ Date tab -->
            <div class="media"><a href="#"> <img class="d-flex mr-3 pull-left"
                                                 src="{{ asset('bundles/blog/image/media-1.jpeg') }}"
                                                 alt="Generic placeholder image"></a>
                <div class="media-body">
                    <div class="news-title">
                        <p class="title-small"><a href="#">Key Republicans sign letter warning against
                                candidate</a></p>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="news-auther"><p class="time">1h ago</p></div>
                        </div>
                        <!-- comments count-->
                        <div class="col-sm-6 pull-right nbr-comments">
                            <a class="pull-right " href="#"><i class="fa fa-comment-o pull-left " aria-hidden="true"></i>10</a>

                        </div>
                        <!-- ./ comments count-->

                    </div>
                </div>
            </div>
            <div class="media"><a href="#"> <img class="d-flex mr-3 pull-left"
                                                 src="{{ asset('bundles/blog/image/media-1.jpeg') }}"
                                                 alt="Generic placeholder image"></a>
                <div class="media-body">
                    <div class="news-title">
                        <p class="title-small"><a href="#">Key Republicans sign letter warning against
                                candidate</a></p>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="news-auther"><p class="time">1h ago</p></div>
                        </div>
                        <!-- comments count-->
                        <div class="col-sm-6 pull-right">
                            <a class="pull-right" href="#"> <i class="fa fa-comment-o pull-left nbr-comments" aria-hidden="true"></i>10</a>

                        </div>
                        <!-- ./ comments count-->
                    </div>
                </div>
            </div>
            <div class="media"><a href="#"> <img class="d-flex mr-3 pull-left"
                                                 src="{{ asset('bundles/blog/image/media-1.jpeg') }}"
                                                 alt="Generic placeholder image"></a>
                <div class="media-body">
                    <div class="news-title">
                        <p class="title-small"><a href="#">Key Republicans sign letter warning against
                                candidate</a></p>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="news-auther"><p class="time">1h ago</p></div>
                        </div>
                        <!-- comments count-->
                        <div class="col-sm-6 pull-right">
                            <a class="pull-right" href="#"> <i class="fa fa-comment-o pull-left nbr-comments" aria-hidden="true"></i>10</a>

                        </div>
                        <!-- ./ comments count-->
                    </div>
                </div>
            </div>
            {#<div class="row>">#}
                {#<a href="#">#}
                    {#<h5 style="background: #FF7B00; padding: .5em; color: #ffffff; text-align: left; text-decoration: none !important;">#}
                        {#<i class="fa fa-clock-o" aria-hidden="true"></i>#}
                        {#Vendredi 15 Septembre#}
                    {#</h5>#}
                {#</a>#}
            {#</div>#}
            <!-- ./ Date tab -->
        </div>
    </div>
</div>


{#<div class="media"><a href="#"> <img class="d-flex mr-3 pull-left"#}
                                                 {#src="http://grafreez.com/wp-content/temp_demos/river/img/media-2.jpg"#}
                                                 {#alt="Generic placeholder image"></a>#}
                {#<div class="media-body">#}
                    {#<div class="news-title">#}
                        {#<p class="title-small"><a href="#">Obamacare Appears to Be Making People Healthier</a>#}
                        {#</p>#}
                    {#</div>#}
                    {#<div class="news-auther"><span class="time">1h ago</span></div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="media"><a href="#"> <img class="d-flex mr-3 pull-left"#}
                                                 {#src="http://grafreez.com/wp-content/temp_demos/river/img/media-3.jpg"#}
                                                 {#alt="Generic placeholder image"></a>#}
                {#<div class="media-body">#}
                    {#<div class="news-title">#}
                        {#<p class="title-small"><a href="#">Key Republicans sign letter warning against#}
                                {#candidate</a></p>#}
                    {#</div>#}
                    {#<div class="news-auther"><span class="time">1h ago</span></div>#}
                {#</div>#}
            {#</div>#}



{#<div class="tab-pane active" id="home" role="tabpanel">#}
            {#<div class="media"><a href="#"> <img class="d-flex mr-3 pull-left"#}
                                                 {#src="http://grafreez.com/wp-content/temp_demos/river/img/media-1.jpg"#}
                                                 {#alt="Generic placeholder image"></a>#}
                {#<div class="media-body">#}
                    {#<div class="news-title">#}
                        {#<p class="title-small"><a href="#">Key Republicans sign letter warning against#}
                                {#candidate</a></p>#}
                    {#</div>#}
                    {#<div class="row">#}
                        {#<div class="col-sm-6">#}
                            {#<div class="news-auther"><p class="time">1h ago</p></div>#}
                        {#</div>#}
                        {#<div class="col-sm-6 pull-right">#}
                            {#<i class="fa fa-comment-o pull-right nbr-comments" aria-hidden="true">10</i>#}

                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}


            {#<div class="media"><a href="#"> <img class="d-flex mr-3 pull-left"#}
                                                 {#src="http://grafreez.com/wp-content/temp_demos/river/img/media-2.jpg"#}
                                                 {#alt="Generic placeholder image"></a>#}
                {#<div class="media-body">#}
                    {#<div class="news-title">#}
                        {#<p class="title-small"><a href="#">Obamacare Appears to Be Making People Healthier</a>#}
                        {#</p>#}
                    {#</div>#}
                    {#<div class="news-auther"><span class="time">1h ago</span></div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="media"><a href="#"> <img class="d-flex mr-3 pull-left"#}
                                                 {#src="http://grafreez.com/wp-content/temp_demos/river/img/media-3.jpg"#}
                                                 {#alt="Generic placeholder image"></a>#}
                {#<div class="media-body">#}
                    {#<div class="news-title">#}
                        {#<p class="title-small"><a href="#">Key Republicans sign letter warning against#}
                                {#candidate</a></p>#}
                    {#</div>#}
                    {#<div class="news-auther"><span class="time">1h ago</span></div>#}
                {#</div>#}
            {#</div>#}


            {#<div class="tab-pane" id="profile" role="tabpanel">#}
                {#<div class="media"><a href="#"> <img class="d-flex mr-3 pull-left"#}
                                                     {#src="http://grafreez.com/wp-content/temp_demos/river/img/media-4.jpg"#}
                                                     {#alt="Generic placeholder image"></a>#}
                    {#<div class="media-body">#}
                        {#<div class="news-title">#}
                            {#<p class="title-small"><a href="#">Key Republicans sign letter warning against#}
                                    {#candidate</a></p>#}
                        {#</div>#}
                        {#<div class="news-auther"><span class="time">1h ago</span></div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="media"><a href="#"> <img class="d-flex mr-3 pull-left"#}
                                                     {#src="http://grafreez.com/wp-content/temp_demos/river/img/media-3.jpg"#}
                                                     {#alt="Generic placeholder image"></a>#}
                    {#<div class="media-body">#}
                        {#<div class="news-title">#}
                            {#<h5 class="title-small"><a href="#">‘S.N.L.’ to Lose Two Longtime Cast Members</a></h5>#}
                        {#</div>#}
                        {#<div class="news-auther"><span class="time">1h ago</span></div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="media"><a href="#"> <img class="d-flex mr-3 pull-left"#}
                                                     {#src="http://grafreez.com/wp-content/temp_demos/river/img/media-2.jpg"#}
                                                     {#alt="Generic placeholder image"></a>#}
                    {#<div class="media-body">#}
                        {#<div class="news-title">#}
                            {#<p class="title-small"><a href="#">Obamacare Appears to Be Making People Healthier</a>#}
                            {#</p>#}
                        {#</div>#}
                        {#<div class="news-auther"><span class="time">1h ago</span></div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="tab-pane" id="messages" role="tabpanel">#}
                {#<div class="media"><a href="#"> <img class="d-flex mr-3 pull-left"#}
                                                     {#src="http://grafreez.com/wp-content/temp_demos/river/img/media-2.jpg"#}
                                                     {#alt="Generic placeholder image"></a>#}
                    {#<div class="media-body">#}
                        {#<div class="news-title">#}
                            {#<p class="title-small"><a href="#">Key Republicans sign letter warning against#}
                                    {#candidate</a></p>#}
                        {#</div>#}
                        {#<div class="news-auther"><span class="time">1h ago</span></div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="media"><a href="#"> <img class="d-flex mr-3 pull-left"#}
                                                     {#src="http://grafreez.com/wp-content/temp_demos/river/img/media-3.jpg"#}
                                                     {#alt="Generic placeholder image"></a>#}
                    {#<div class="media-body">#}
                        {#<div class="news-title">#}
                            {#<h5 class="title-small"><a href="#">‘S.N.L.’ to Lose Two Longtime Cast Members</a></h5>#}
                        {#</div>#}
                        {#<div class="news-auther"><span class="time">1h ago</span></div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="media"><a href="#"> <img class="d-flex mr-3 pull-left"#}
                                                     {#src="http://grafreez.com/wp-content/temp_demos/river/img/media-1.jpg"#}
                                                     {#alt="Generic placeholder image"></a>#}
                    {#<div class="media-body">#}
                        {#<div class="news-title">#}
                            {#<p class="title-small"><a href="#">Key Republicans sign letter warning against#}
                                    {#candidate</a></p>#}
                            {#<div class="news-auther"><span class="time">1h ago</span></div>#}
                        {#</div>#}

                    {#</div>#}
                {#</div>#}


            {#</div>#}
        {#</div>#}
        {#<div class="video-sec">#}
        {#<h4 class="heading-small">Featured Video</h4>#}
        {#<div class="video-block">#}
        {#<div class="embed-responsive embed-responsive-4by3">#}
        {#<iframe class="embed-responsive-item" src="//www.youtube.com/embed/zpOULjyy-n8?rel=0"#}
        {#allowfullscreen></iframe>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
    {#</div>#}
<!-- /.Last news section -->
