{% extends 'proartiTouscoprodBundle::layout.html.twig' %}

{% block body %}

    {% stylesheets
    '@proartiTouscoprodBundle/Resources/public/css/explanation.css'
    '@proartiTouscoprodBundle/Resources/public/css/global.css'

    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <div id="EXPLANATION" class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <h3>touscoprod évolue et rejoint proarti</h3>
                <div class="text-black">
                    <p>Depuis la création de la plateforme Touscoprod en 2009, vous avez été plus de 50 000 à rejoindre la
                    communauté des coprods. <strong>800 films ont pu voir le jour grâce à notre accompagnement et à votre
                            soutien !</strong></p>

                    <p>Parmi ces 800 projets, nous avons accompagné 5 projets sélectionnés à Cannes, 2 nominés aux Oscar, 1
                        lauréat de l'Ours d'Or et de nombreuses autres productions audiovisuelles, tous formats confondus.</p>

                    <p>Pour poursuivre cette belle histoire et continuer à offrir aux projets audiovisuels le meilleur des
                    accompagnements, <strong>Touscoprod s’associe désormais à proarti, la première plate-forme de financement
                            participatif entièrement dédiée à la création artistique, et crée <span class="tousproarti">Touscoprod by proarti.</span></strong></p>

                    <p>En rejoignant proarti, Touscoprod permet ainsi à tous les porteurs de projets audiovisuels de
                        bénéficier des avantages de <span class="up">proarti</span>, plateforme artistique portée par un acteur à but non-lucratif
                    autorisé à recourir à la générosité du public <strong>et soutenue par le Ministère de la culture et de la
                            communication lors de sa création en 2012.</strong></p>
                     <p>Avec <strong><span class="tousproarti">Touscoprod by proarti</span></strong> tous les porteurs de projets bénéficient ainsi :</p>

                    <p>-      D’un <strong>accompagnement spécifique et individualisé avant, pendant et après la collecte :</strong> l’équipe de
                        <span class="up">proarti</span> conseille tous les projets, les aide à définir la stratégie la plus adaptée pour donner à
                        leur projet toutes les chances de réussir !</p>

                    <p>-      De l’avantage de rejoindre une plateforme au cœur de l’écosystème de la création, plus souple que
                        les autres et qui <strong>s’adapte au plus près de chaque projet :</strong> sur <span class="up">proarti</span>, pas de « tout ou rien » !
                    Différents paliers de collecte sont fixés avec chaque porteur de projets pour limiter les risques
                        d’échec.</p>

                    <p>-      D’une aide particulière dans la vérification de son éligibilité au <strong>mécénat</strong>, dispositif fiscal
                        incitatif pour les donateurs. Si le projet est éligible, <strong><span class="up">proarti</span> s’occupe de tout</strong> : mise en avant de
                    la réduction fiscale pour inciter les donateurs à donner davantage, sécurisation juridique et envoi
                    des reçus fiscaux aux donateurs. Si le projet n’est pas éligible, le projet peut tout de même lancer
                        sa collecte <span class="up">sur proarti</span> sans bénéficier de ce dispositif mais en profitant tout de même de
                        l’accompagnement de proarti !</p>

                     <p>Rejoignez dès à présent <span class="tousproarti">Touscoprod by proarti</span> en déposant vos projets audiovisuels directement sur
                        proarti.fr !</p>

                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 hint FAQ">
                <h3>
                    <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                    ASTUCE
                </h3>

                <p> Vous avez des questions complémentaires ?</p>
                <p>contactez l'équipe proarti: </p>

                <div class="list-group col-sm-offset-1 text-center">
                    {#<p>adresse</p>#}
                    {#<a href="http://maps.google.com/?q=7 Rue Bachelet, 75018 Paris" target="_blank" class="list-group-item">7 rue Bachelet 75018 Paris</a><br>#}
                    <p>Téléphone</p>
                    <a href="tel:+33652379309" class="list-group-item">06 52 37 93 09</a><br>
                    <p>Email</p>

                    <a href="mailto:contact@proarti.org" class="list-group-item">contact@proarti.org</a>
                </div>
            </div>
            <div class="row">
                <div class="parallax col-xs-12">
                    <section class=" text-center">
                        <div class="container">
                            <h2 class="jumbotron-heading ">Lancez votre projet sur proarti</h2>
                            <a href="https://www.proarti.fr/profile/collect/project/conditions"
                               class="btn bigbtn-blue ">Créer votre projet
                            </a>
                        </div>
                    </section>

                </div>
            </div>

        </div>

    </div>
{% endblock body %}