{% extends 'proartiTouscoprodBundle::layout.html.twig' %}
{% block body %}

    {% stylesheets
    '@proartiTouscoprodBundle/Resources/public/css/faq.css'
    '@proartiTouscoprodBundle/Resources/public/css/global.css'

    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% javascripts
    '@proartiTouscoprodBundle/Resources/public/javascript/faq.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}


<div id="faq" class="container">
<div class="row">


    <div class="col-md-8 col-sm-8 col-xs-12 FAQ">
        <h3>FAQ</h3><br>
        <h4>Voici une faq qui répondra à toutes vos questions</h4><br>
        <div class="panel-group wrap" id="bs-collapse">

            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#bs-collapse" href="#one">

                            Qui est touscoprod by proarti ?
                        </a>
                    </h4>
                </div>
                <div id="one" class="panel-collapse collapse in">
                    <div class="panel-body">

                        Where now are the horse and the rider? Where is the horn that was blowing? Where is the helm and the hauberk, and the bright hair flowing?
                    </div>
                </div>

            </div>
            <!-- end of panel -->

            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#bs-collapse" href="#two">
                            Quels projets sont acceptés ?
                        </a>
                    </h4>
                </div>
                <div id="two" class="panel-collapse collapse">
                    <div class="panel-body">

                        Where is the harp on the harpstring, and the red fire glowing? Where is the spring and the harvest and the tall corn growing?

                    </div>

                </div>
            </div>
            <!-- end of panel -->

            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#bs-collapse" href="#three">
                            Qu’est ce que le  nancement participatif ?
                        </a>
                    </h4>
                </div>
                <div id="three" class="panel-collapse collapse">
                    <div class="panel-body">
                        ave gone down in the West behind the hills into shadow. Who shall gather the smoke of the deadwood burning, Or behold the flowing years from the Sea returning? The days have gone down in the West behind the hills into shadow. Who shall gather the smoke of the deadwood burning, Or behold the flowing years from the Sea returning? The days have gone down in the West behind the hills into shadow. Who shall gather the smoke of the deadwood burning, Or behold the flowing years from the Sea returning? The days have gone down in the West behind the hills into shadow. Who shall gather the smoke of the deadwood burning, Or behold the flowing years from the Sea returning?
                    </div>
                </div>
            </div>
            <!-- end of panel -->

            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#bs-collapse" href="#four">
                            Content 4
                        </a>
                    </h4>
                </div>
                <div id="four" class="panel-collapse collapse">
                    <div class="panel-body">

                        They have passed like rain on the mountain, like a wind in the meadow; The days have gone down in the West behind the hills into shadow.
                    </div>
                </div>
            </div>
            <!-- end of panel -->

        </div>
        <!-- end of #bs-collapse  -->

    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 hint FAQ">
        <h3 >
            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
            ASTUCE
        </h3>

        <p> Vous avez des questions complémentaires ?</p>
        <p>contactez l'équipe proarti: </p>

        <div class="list-group col-sm-offset-1 text-center">
            {#<p>adresse</p>#}
            {#<a href="http://maps.google.com/?q=7 Rue Bachelet, 75018 Paris" target="_blank" class="list-group-item">7 rue Bachelet 75018 Paris</a><br>#}
            <p>Téléphone</p>
            <a href="tel:+33652379309" class="list-group-item">06 52 37 93 09</a><br>
            <p>Email</p>

            <a href="mailto:contact@proarti.org" class="list-group-item">contact@proarti.org</a>
        </div>
    </div>


</div>
</div>
    <div class="row">
        <div class="parallax col-xs-12">
            <section class=" text-center">
                <div class="container">
                    <h2 class="jumbotron-heading ">Lancez votre projet sur proarti</h2>
                    <a href="https://www.proarti.fr/profile/collect/project/conditions" class="btn bigbtn-blue">En savoir plus</a>
                </div>
            </section>

        </div>
    </div>

<!-- end of container -->

{% endblock body %}
