{% extends "proartiTouscoprodBundle::layout.html.twig" %}

{% block body %}


    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Album example</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator,
                etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
            <p>
                <a href="#" class="btn btn-primary">Main call to action</a>
                <a href="#" class="btn btn-secondary">Secondary action</a>
            </p>
        </div>
    </section>

    {% include '@proartiTouscoprod/Default/projects.html.twig' %}

    <div class="row" style="margin-top: 7em;">
        <section class="jumbotron text-center">
            <div class="container">
                <h3 class="jumbotron-heading ">COMMENT LANCER UNE CAMPAGNE DE CROWDFUNDING ?<br>
                    VOTRE PROJET EST-IL ÉLIGIBLE ?</h3>
                    <a href="#" class="btn btn-primary bigbtn">Main call to action</a>
            </div>
        </section>
    </div>




    <style>
        .jumbotron {
            padding-top: 6rem;
            padding-bottom: 6rem;
            margin-bottom: 0;
            background-color: #E8F0F1;
        }

        .jumbotron h3:after {
            height: 0;
            width: 0;
            content: '';
            display: block;
            margin-top: 20px;
        }

        .bigbtn {
            padding: 20px 30px;
            font-size: 17px;
            text-transform: uppercase;
            font-weight: 900;
            background: #FF5652;
            border: none;
        }

        .bigbtn:hover {
            padding: 20px 30px;
            font-size: 17px;
            text-transform: uppercase;
            font-weight: 900;
            background: rgba(255, 86, 82, 0.51);
            border: none;
            -webkit-transition: 300ms;
            -moz-transition: 300ms;
            -o-transition: 300ms;
            transition: 300ms;
        }

    </style>


{% endblock body %}