{% extends "proartiTouscoprodBundle::layout.html.twig" %}

{% block body %}

    {% stylesheets
    '@proartiTouscoprodBundle/Resources/public/css/index.css'

    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <script>

    </script>
    {% include '@proartiTouscoprod/includes/carousel.html.twig' %}

    {% include '@proartiTouscoprod/Default/projects.html.twig' %}
    <div class="row">
        <div class="col-sm-12 text-center">
            <a href="{{ path('proarti_touscoprod_default_projectindex') }}" class="btn bigbtn-blue">Découvrir plus de
                projets</a>
        </div>
    </div>
    <div class="parallax">
        <section class=" text-center">
            <div class="container">
                <h2 class="jumbotron-heading ">COMMENT LANCER UNE CAMPAGNE DE CROWDFUNDING ?<br>
                    VOTRE PROJET EST-IL ÉLIGIBLE ?</h2>
                <a href="{{ path('proarti_touscoprod_default_faq') }}" class="btn  bigbtn">En savoir plus</a>
            </div>
        </section>
    </div>

    <script>
        //        limit the number of project item to 4
        $(".scene:gt(3)").css("display", "none");

//        shuffle project li - to delete when on twig
        $(document).ready(function () {
            var parent = $("#shuffle");
            var divs = parent.children();
            while (divs.length) {
                parent.append(divs.splice(Math.floor(Math.random() * divs.length), 1)[0]);
            }
        });


    </script>

{% endblock body %}