{% extends "proartiTouscoprodBundle::layout.html.twig" %}

{% block body %}

    {% stylesheets
    '@proartiTouscoprodBundle/Resources/public/css/index.css'

    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% include '@proartiTouscoprod/includes/carousel.html.twig' %}

    {% include '@proartiTouscoprod/Default/projects.html.twig' %}

    <div class="parallax">
        <section class=" text-center">
            <div class="container">
                <h2 class="jumbotron-heading ">COMMENT LANCER UNE CAMPAGNE DE CROWDFUNDING ?<br>
                    VOTRE PROJET EST-IL ÉLIGIBLE ?</h2>
                <a href="{{ path('proarti_touscoprod_default_faq') }}" class="btn btn-primary bigbtn">En savoir plus</a>
            </div>
        </section>
    </div>

{% endblock body %}