{% extends 'proartiTouscoprodBundle::layout.html.twig' %}

{% block body %}
    {% stylesheets
    '@proartiTouscoprodBundle/Resources/public/css/index.css'

    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}


    {% include '@proartiTouscoprod/Default/projects.html.twig' %}<br><br>

    <div class="row">
        <div class="parallax col-xs-12">
            <section class=" text-center">
                <div class="container">
                    <h2 class="jumbotron-heading ">Lancez votre projet sur proarti</h2>
                    <a href="https://www.proarti.fr/profile/collect/project/conditions"
                       class="btn btn-primary bigbtn-blue">En savoir plus</a>
                </div>
            </section>
        </div>
    </div>

    <script>
        //        limit the number of project item to 4
//        $(".scene:gt(3)").css("display", "none");

//        //        shuffle project li - to delete when on twig
//        $(document).ready(function () {
//            var parent = $("#shuffle");
//            var divs = parent.children();
//            while (divs.length) {
//                parent.append(divs.splice(Math.floor(Math.random() * divs.length), 1)[0]);
//            }
//        });


    </script>
{% endblock body %}