<div class="container" style="margin-top: 7em;">
    <div class="row">

        <h3>
            Success Stories
        </h3>
    </div>


    <div class="wrapper">
        <div class="row">
            <ul class="col-md-12 " style="list-style-type: none;">
                <!-- first element -->
                <li class="scene">
                    <div class="movie" onclick="return true">
                        <div class="poster"
                             style="  background-image: url({{ asset('bundles/proartitouscoprod/image/projects/poster01.jpg') }});"></div>
                        <div class="info">
                            <h3 style="margin-left: 1em; color: #ffffff">It's a Wonderful Life</h3>
                                <span class="titles">réalisateur: </span><span>spilberg</span>
                            <span class="titles"><br>
                                acteurs:</span> <br><p>Ariel Doukhan, Stéphane Auer, Manda Touré
                            </p>
                            <p>
                                In Bedford Falls, New York on Christmas Eve, George Bailey is deeply troubled. Prayers
                                for his well-being from friends and family reach Heaven. Clarence Odbody.
                            </p>
                            <span class="titles">campagne:</span><span> 1 401 € récoltés </span>
                            <div class="col-sm-8 col-sm-offset-2">
                            <br>
                            <a href="#" class="btn btn-default center-block">Voir la page</a>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- \ end first element -->
                <!-- second element -->
                <li class="scene">
                    <div class="movie" onclick="return true">
                        <div class="poster"
                             style="  background-image: url({{ asset('bundles/proartitouscoprod/image/projects/poster01.jpg') }});"></div>
                        <div class="info">
                            <h3 style="margin-left: 1em; color: #ffffff">It's a Wonderful Life</h3>
                            <span class="titles">réalisateur: </span><span>spilberg</span>
                            <span class="titles"><br>
                                acteurs:</span> <br><p>Ariel Doukhan, Stéphane Auer, Manda Touré
                            </p>
                            <p>
                                In Bedford Falls, New York on Christmas Eve, George Bailey is deeply troubled. Prayers
                                for his well-being from friends and family reach Heaven. Clarence Odbody.
                            </p>
                            <span class="titles">campagne:</span><span> 1 401 € récoltés </span>
                            <div class="col-sm-8 col-sm-offset-2">
                                <br>
                                <a href="#" class="btn btn-default center-block ">Voir la page</a>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- \ end second element -->
                <!-- third element -->
                <li class="scene">
                    <div class="movie" onclick="return true">
                        <div class="poster"
                             style="  background-image: url({{ asset('bundles/proartitouscoprod/image/projects/poster01.jpg') }});"></div>
                        <div class="info">
                            <h3 style="margin-left: 1em; color: #ffffff">It's a Wonderful Life</h3>
                            <span class="titles">réalisateur: </span><span>spilberg</span>
                            <span class="titles"><br>
                                acteurs:</span> <br><p>Ariel Doukhan, Stéphane Auer, Manda Touré
                            </p>
                            <p>
                                In Bedford Falls, New York on Christmas Eve, George Bailey is deeply troubled. Prayers
                                for his well-being from friends and family reach Heaven. Clarence Odbody.
                            </p>
                            <span class="titles">campagne:</span><span> 1 401 € récoltés </span>
                            <div class="col-sm-8 col-sm-offset-2">
                                <br>
                                <a href="#" class="btn btn-default center-block">Voir la page</a>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- fourth element -->

                <li class="scene">
                    <div class="movie" onclick="return true">
                        <div class="poster"
                             style="  background-image: url({{ asset('bundles/proartitouscoprod/image/projects/poster01.jpg') }});"></div>
                        <div class="info">
                            <h3 style="margin-left: 1em; color: #ffffff">It's a Wonderful Life</h3>
                            <span class="titles">réalisateur: </span><span>spilberg</span>
                            <span class="titles"><br>
                                acteurs:</span> <br><p>Ariel Doukhan, Stéphane Auer, Manda Touré
                            </p>
                            <p>
                                In Bedford Falls, New York on Christmas Eve, George Bailey is deeply troubled. Prayers
                                for his well-being from friends and family reach Heaven. Clarence Odbody.
                            </p>
                            <span class="titles">campagne:</span><span> 1 401 € récoltés </span>
                            <div class="col-sm-8 col-sm-offset-2">
                                <br>
                                <a href="#" class="btn btn-default center-block">Voir la page</a>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- end fourth element -->

            </ul>
        </div>
    </div><!-- /wrapper -->
</div><!-- /con -->



