{% extends 'proartiTouscoprodBundle::layout.html.twig' %}

{% block body %}

    <script src=" https://cdn.jsdelivr.net/npm/vue"></script>
    {% stylesheets
    '@proartiTouscoprodBundle/Resources/public/css/index.css'
    '@proartiTouscoprodBundle/Resources/public/css/global.css'

    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}



    {% include '@proartiTouscoprod/Default/projects.html.twig' %}<br><br>

    <div class="row">
        <div class="parallax col-xs-12">
            <section class=" text-center">
                <div class="container">
                    <h2 class="jumbotron-heading ">Lancez votre projet sur proarti</h2>
                    <a href="https://www.proarti.fr/profile/collect/project/conditions"
                       class="btn bigbtn-blue">En savoir plus</a>
                </div>
            </section>
        </div>
    </div>

    {#<script>#}
        {#//        limit the number of project item to 4#}

        {#$('#indexparallax').css("background","url({{ asset('bundles/proartitouscoprod/image/launch.png') }}) no-repeat fixed center");#}
        {#$('#indexparallax').css("background-size","cover");#}
        {#//        shuffle project li - to delete when on twig#}
        {#$(document).ready(function () {#}
            {#var parent = $("#shuffle");#}
            {#var divs = parent.children();#}
            {#while (divs.length) {#}
                {#parent.append(divs.splice(Math.floor(Math.random() * divs.length), 1)[0]);#}
            {#}#}
            {#$(".scene").slice(4).hide();#}
        {#});#}
        {##}
    {#</script>#}
{% endblock body %}