#navbarproarti {
    background: #FFFFFF;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    min-height: 70px;
}

.navbar-brand > img {
    display: block;
    height: 50px;
}

.PrimaryNav {
    padding: 13px 25px 0 25px;
    float: left;
    display: block;
    height: 52px;
    color: #333;
    text-decoration: none;
    line-height: 0.7;
    transition: all 0.2s ease-in-out;
    text-align: center;
    font-size: 10pt;
    font-weight: 500;
    padding-left: 1em;
}

.navbar-inverse .navbar-nav > li > a:hover span {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
    padding-left: 3em;
    padding-right: 3em;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background: #3378B5;
    color: #ffffff;
}

.navbar-nav > li > a {
    padding-bottom: 4em;
    border-bottom: none !important;
}

.PrimaryNav span {
    font-size: 12pt;
    color: #343A45;
    font-weight: 700;
    text-decoration: none !important;
}

nav.navbar {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.navbar-inverse {
    background-color: #222;
    border-color: #ffffff !important;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle {
    background-color: #77B9C8;
    border: none !important;
}

.social-icon > a {
    color: #ffffff
}

.navbar-brand {
    position: relative;
    z-index: 2;
}

.navbar-nav.navbar-right .btn {
    position: relative;
    z-index: 2;
    padding: 4px 20px;
    margin: 10px auto;
    transition: transform 0.3s;
}


.navbar-nav.navbar-right li > a {
    color: #ffffff;
}

.navbar-nav.navbar-right li:hover > a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    color: #ffffff;
    background: #FF7B00;
}
.navbar-nav #cv-link { background: #FF5A00;
    color: #FFFFFF; }
.navbar-nav #cv-link:hover { background: #e25900; }
.navbar-nav #cv-link span { color: #FFFFFF;vertical-align: middle }

.navbar .navbar-collapse {
    position: relative;
    overflow: hidden !important;
}

.navbar .navbar-collapse .navbar-right > li:last-child {
    padding-left: 22px;
}

.navbar .nav-collapse {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding-right: 120px;
    padding-left: 80px;
    width: 100%;
}

.navbar.navbar-default {
    background: #2881BB;
}

.navbar.navbar-default .nav-collapse {
    background-color: #2881BB;
}

.navbar.navbar-inverse .nav-collapse {
    background-color: #222;
}

.navbar .nav-collapse .navbar-form {
    border-width: 0;
    box-shadow: none;
}

.nav-collapse > li {
    float: right;
}

.navbar-nav.navbar-right .btn {
    color: #ffffff;
}

.btn.btn-circle {
    border: 2px solid #ffffff;
    color: #ffffff
}

.btn.btn-circle > a {
    color: #ffffff;
}

.btn.btn-outline {
    background-color: transparent;
}

.navbar-nav.navbar-right .btn:not(.collapsed) {
    background-color: rgba(40, 129, 187, 1.00);
    border-color: rgba(40, 129, 187, 1.00);
    color: rgb(255, 255, 255);
}

.navbar-nav.navbar-right .btn:hover {
    color: #FFFFFF;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

.navbar.navbar-default .nav-collapse,
.navbar.navbar-inverse .nav-collapse {
    height: auto !important;
    transition: transform 0.3s;
    transform: translate(0px, -50px);
}

.navbar.navbar-default .nav-collapse.in,
.navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px, 0px);
}

.navbar .container {
    text-align: center;
}

.navbar-collapse .navbar-brand {
    display: inline-block;
    float: none;
    padding: 0;
    margin: 0 !important;
    overflow: visible;
    padding-top: .5em;

}

.navbar-collapse .navbar-brand .white-circle .logo {
    width: 161px;
    height: 161px;
}

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child {
        padding-left: 15px;
        padding-right: 15px;
    }

    .navbar .nav-collapse {
        margin: 7.5px auto;
        padding: 0;
    }

    .navbar .nav-collapse .navbar-form {
        margin: 0;
    }

    .nav-collapse > li {
        float: none;
    }

    .navbar.navbar-default .nav-collapse,
    .navbar.navbar-inverse .nav-collapse {
        transform: translate(-100%, 0px);
    }

    .navbar.navbar-default .nav-collapse.in,
    .navbar.navbar-inverse .nav-collapse.in {
        transform: translate(0px, 0px);
    }

    .navbar.navbar-default .nav-collapse.slide-down,
    .navbar.navbar-inverse .nav-collapse.slide-down {
        transform: translate(0px, -100%);
    }

    .navbar.navbar-default .nav-collapse.in.slide-down,
    .navbar.navbar-inverse .nav-collapse.in.slide-down {
        transform: translate(0px, 0px);
    }

    #navbarproarti {
        box-shadow: none !important;
    }

    #logomobile {
        margin-left: 31%;
        margin-bottom: 1em;
    }

    .navbar-brand > img {
        display: block;
        height: 50px;
    }
}