/* sidebar */

.side-bar { margin-top: 1em; background: #f7f7f7; padding: 0 !important; border-bottom: #3378B5 solid 5em }
.side-bar .nav-tabs{border-bottom:none; margin-top: 1em}
.side-bar .nav-tabs .nav-link {color: #aeaeae; text-transform: uppercase; border: none;}
.side-bar .nav-tabs .nav-link.active, .side-bar .nav-tabs .nav-link:hover{border-bottom:2px solid #ff0000;  text-transform: uppercase; color: #222}
.side-bar-top{ background: #3378B5; padding: 1em; color: #FFFFFF;}
.sidebar-tabing .media{margin-top: 20px; float: left; max-height: 100px}
.sidebar-tabing .media:last-child{margin-bottom: 2em}
.sidebar-tabing .media:hover, .sidebar-tabing {
    color: #ffffff !important;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.sidebar-tabing .media:hover a, .sidebar-tabing .media:hover .time  {
    color: #3378B5 !important;
    transition: all 1s ;
    -moz-transition: all ;
    -webkit-transition: all 1s ;
    -ms-transition: all 1s;
    -o-transition: all 1s ;
}
.time {
    color: black;}
.sidebar-tabing {max-height: 1000px;}
.sidebar-tabing img{width: 120px;height: 100px;}
.sidebar-tabing .title-small {line-height: 23px; margin-top: 5px; font-size: 18px; text-decoration: none; margin-left: 10px;}
.sidebar-tabing .title-small>a {text-decoration: none}
.sidebar-tabing .news-auther {margin-left: 1em}
.sidebar-tabing .nbr-comments { margin:5px;}
.sidebar-tabing .nbr-comments>a:hover,.sidebar-tabing .nbr-comments>a:hover>i { color: #FF7B00; text-decoration: none}

/* end sidebar */
