/* sidebar */

.side-bar { margin-top: 1em; }
.side-bar .nav-tabs{border-bottom:none; margin-top: 1em}
.side-bar .nav-tabs .nav-link {color: #aeaeae; text-transform: uppercase; border: none;}
.side-bar .nav-tabs .nav-link.active, .side-bar .nav-tabs .nav-link:hover{border-bottom:2px solid #ff0000;  text-transform: uppercase; color: #222}
.sidebar-tabing .media{margin-top: 20px; float: left}
.sidebar-tabing {max-height: 1000px;}
.sidebar-tabing img{width: 120px;height: 100px;}
.sidebar-tabing .title-small {line-height: 23px; margin-top: 5px; font-size: 18px; text-decoration: none; margin-left: 1em}
.sidebar-tabing .title-small>a {text-decoration: none}
.sidebar-tabing .news-auther {margin-left: 1em}
.sidebar-tabing .nbr-comments { margin:5px;}
.sidebar-tabing .nbr-comments>a:hover,.sidebar-tabing .nbr-comments>a:hover>i { color: #FF7B00; text-decoration: none}

/* end sidebar */
