footer{
    background: #424558 !important;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    text-align: center;
    color: #CCC;
    padding: 25px 0;
    margin-top: 2em;
}

footer p {
    margin: 0px;
    line-height: 100%;
    color: #ffffff;
    text-decoration:none;
}
footer p:hover, footer a:hover, footer a:active, footer a:focus {
    background: none !important;
    color: #ffffff;
    text-decoration: none;
}
footer a { text-decoration: none;
    color: #0a93a6;}

