
body {
    overflow-x: hidden;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-muted {
    color: #777777;
}

.text-primary {
    color: #0A7ABC;
}
p {
    font-size: 14px;
    line-height: 1.75;
}
p.large {
    font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
    outline: none;
}
a {
    color: #0A7ABC;
}
/*a:hover,*/
/*a:focus,*/
/*a:active,*/
/*a.active {*/
    /*color: #0A7ABC;*/
/*}*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.img-centered {
    margin: 0 auto;
}

/*//////////////////////////*/
/*/////// BUTTONS //////////*/
/*//////////////////////////*/


.bigbtn {
    padding: 20px 30px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 900;
    background: #FF5652;
    border: none;
}

.bigbtn:hover {
    padding: 20px 30px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 900;
    background: rgba(255, 87, 85, 0.71);
    border: none;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

.bigbtn-blue {
    padding:1em;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 900;
    background: #2C6FAE;
    color: #ffffff;
    border: none;
    margin-top: 1em;
    margin-bottom: 2em;

}
.bigbtn-blue:hover {
    padding:1em;
    font-size: 17px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
    background: #77B9C8;
    border: none;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    margin: inherit;
    margin-top: 1em;
    margin-bottom: 2em;
}

/*/////// END BUTTONS //////////*/
