{% extends '@Blog/layout.html.twig' %}

{% block body %}
    {% stylesheets
    '@BlogBundle/Resources/public/css/nav.css'
    '@BlogBundle/Resources/public/css/global.css'
    '@BlogBundle/Resources/public/css/newsgrid.css'
    '@BlogBundle/Resources/public/css/cookiebar.css'

    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <div class="container">
        <div class="row">
            {% include '@Blog/includes/newsgrid1.html.twig' %}
            {% include '@Blog/includes/sidebar-actus.html.twig' %}
            {% include '@Blog/includes/sidebar-actus.html.twig' %}
        </div>
    </div>

    {#{% include '@Blog/includes/cookie.html.twig' %}#}

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>
    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>


{% endblock body %}