{% extends '::base.html.twig' %}

{% block body %}
    {% stylesheets
    '@BlogBundle/Resources/public/css/nav.css'
    '@BlogBundle/Resources/public/css/global.css'
    '@BlogBundle/Resources/public/css/newsgrid.css'
    '@BlogBundle/Resources/public/css/cookiebar.css'

    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <div class="container">
        <div class="row">
            <div class=" col-sm-12 pull-right social">
                <div class="social-icon pull-right">

                    <a target="_blank" href="#" class=" fa fa-facebook"></a>
                    <a target="_blank" href="#" class=" fa fa-twitter"></a>
                    <a target="_blank" href="#" class=" fa fa-google-plus"></a>
                    <a target="_blank" href="#" class=" fa fa-linkedin"></a>
                </div>
            </div>
        </div>
    </div>
    {% include '@Blog/includes/nav.html.twig' %}
    {#{% include 'EurotradeBundle:Default:header.html.twig' %}#}
    {#{% include '@Eurotrade/Default/includes/slider.html.twig' %}#}
    {#<header>#}
    {#<div class="container">#}
    {#<div class="intro-text">#}
    {#<div class="intro-lead-in">Bienvenue chez European Trade</div>#}
    {#<div class="intro-heading"></div>#}
    {#<a href="#services" class="page-scroll btn btn-xl">Decouvrez nos services</a>#}
    {#</div>#}
    {#</div>#}
    {#</header>#}

    {% include '@Blog/includes/newsgrid1.html.twig' %}
    {#{% include '@Blog/includes/newsbar.html.twig' %}#}

    {% include '@Blog/includes/footer.html.twig' %}
    {#{% include '@Blog/includes/cookie.html.twig' %}#}
    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>








{% endblock body %}