<footer>
    <div class="container">
    <p class="test">© Copyright Techsquids - 2017 |
        <a href="#">Contact </a>
        -
        <a href="#">Mentions légales </a>
        -
        <a href="#">A propos </a>
        -
        <a href="#">CV </a>
        .
    </p>
    </div>
</footer>