<!-- About Section
   ================================================== -->
<section id="about" style="padding: 3em;">
    <div class="col-md-4 col-sm-12 col-xs-12">

        <img class="profile-pic pull-right " src="{{ asset('bundles/cv/image/3987820.jpg') }}" alt=""/>

    </div>
    <div class="col-md-6">
        <div class="row inline">

            <div style="text-align: justify" class="col-md-12">

                <h2>Qui suis-je?</h2>

                <p>J'ai près de 5 années d'expérience dans tous les domaines du marketing et de la communication
                    acquises
                    dans des entreprises allant de la start-up à la multinationale, en France comme à
                    l'étranger.<br>

                    Passionné par les nouvelles tendances tant en marketing que des nouvelles technologies, j'aime
                    m'investir pleinement dans les projets qui me passionnent.<br><br>

                    Langues parlées:<br>
                    - Français : Langue natale<br>
                    - English : Full professional proficiency
                <p>
            </div>
        </div>


        <div class="row inline">

            <div class="col-md-6 ">

                <h2>Contact</h2>
                <p class="address">
                    <span>Bruno Bouvet</span><br>
                    <!--<span>110 rue du Colonel Fabien<br>
                    92160, Antony, France
                    </span><br>-->
                    <span>+33 (0) 7 62 40 66 92</span><br>
                    <span>bouvet.bruno@gmail.com</span>

                </p>
            </div>
            <div class="col-md-6">
                <p class="pull-left">
                    <a target="_blank" href="{{ asset('bundles/cv/image/CV_Bruno_Bouvet_MARS_2016.pdf') }}" class="button"><i class="fa fa-download"></i>Téléchargez
                        mon CV</a>
                </p>
            </div>
        </div>
    </div>

</section> <!-- About Section End-->

