<section id="contact">

    <div class="row section-head">

        <div class="two columns header-col">

            <h1><span>Get In Touch.</span></h1>

        </div>

        <div class="ten columns">

            <p class="lead">Si vous souhaitez me contacter n'hésitez pas à m'envoyer un message. <br>Je vous
                répondrai dès que possible.
            </p>

        </div>

    </div>




    <div class="row">

        <div class="col-lg-8 col-md-12 col-xs-12">
            <iframe height="650" scrolling="no" width="1000" src="{{ path('blog_contact_contactblog') }}">

            </iframe>

            <!-- form -->
            {#<form action="" method="post" id="contactForm" name="contactForm">#}
                {#<fieldset>#}

                    {#<div>#}
                        {#<label for="contactName">Nom et Prénom <span class="required">*</span></label>#}
                        {#<input type="text" value="" size="35" id="contactName" name="contactName">#}
                    {#</div>#}

                    {#<div>#}
                        {#<label for="contactEmail">Email <span class="required">*</span></label>#}
                        {#<input type="text" value="" size="35" id="contactEmail" name="contactEmail">#}
                    {#</div>#}

                    {#<div>#}
                        {#<label for="contactSubject">Sujet <span class="required">*</span></label>#}
                        {#<input type="text" value="" size="35" id="contactSubject" name="contactSubject">#}
                    {#</div>#}

                    {#<div>#}
                        {#<label for="contactMessage">Votre message <span class="required">*</span></label>#}
                        {#<textarea cols="50" rows="15" id="contactMessage" name="contactMessage"></textarea>#}
                    {#</div>#}

                    {#<div>#}
                        {#<button class="submit">Envoyer</button>#}
                        {#<span id="image-loader">#}
                        {#<img alt="" src="images/loader.gif">#}
                     {#</span>#}
                    {#</div>#}

                {#</fieldset>#}
            {#</form> <!-- Form End -->#}

            <!-- contact-warning -->
            <div id="message-warning"> Game Over, Play Again !</div>
            <!-- contact-success -->
            <div id="message-success">
                <i class="fa fa-check"></i>Votre message m'a bien été envoyé, Merci!<br>
            </div>

        </div>


        <aside class="col-md-3 footer-widgets">

            <div class="widget widget_contact">

                <h4>Contact</h4>
                <p class="address">
                    Bruno Bouvet<br>
                    <span> +33 (0) 7 62 40 66 92</span>
                </p>

            </div>

            <div class="widget widget_tweets">

                <h4 class="widget-title">Mes derniers tweets</h4>
                <a class="twitter-timeline" href="https://twitter.com/techsquids"
                   data-widget-id="502917926303723520">Tweets de @techsquids</a>
                <script>!function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0],
                            p = /^http:/.test(d.location) ? 'http' : 'https';
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = p + "://platform.twitter.com/widgets.js";
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, "script", "twitter-wjs");</script>

            </div>

        </aside>

    </div>

</section> <!-- Contact Section End-->
