<!-- Education-->

<div class="row education">

    <div class="col-md-3 col-sm-12">
        <h1><span>Education</span></h1>
    </div>

    <div class="col-md-6 col-sm-12">

        <div class="row item">

            <div class="col-md-12">

                <!--<h3>ESCG-Paris</h3>-->

                <div>
                    <a href="https://wildcodeschool.fr/" title="Wild Code School"> </a>
                    <img alt="logo wild code school" src="{{ asset('bundles/cv/image/logo_WCS.png') }}">
                    <div class="overlay"></div>
                </div>

                <p class="info">Développeur Web Symfony / PHP <span>&bull;</span> <em class="date">2016 - 2017</em></p>

            </div>

        </div> <!-- item end -->

        <div class="row item">

            <div class="col-md-12">

                <!--<h3>ESCG-Paris</h3>-->

                <div>
                    <a href="http://www.escg-paris.com/" title="ESCG-Paris"> </a>
                    <img alt="logo ESCG-Paris" src="{{ asset('bundles/cv/image/logo-escg.jpg') }}">
                    <div class="overlay"></div>
                </div>

                <p class="info">Master's degree in Marketing <span>&bull;</span> <em class="date">2009 - 2013</em></p>

                <p>
                    Manager d’affaire et Gestion des Entreprises.
                </p>

            </div>

        </div> <!-- item end -->

        <div class="row item">

            <div class="col-md-12">

                <!--<h3>ESCG-Paris</h3>-->

                <div>
                    <a href="http://www.escg-paris.com/" title="ESCG-Paris"> </a>
                    <img alt="logo ESCG-Paris" src="{{ asset('bundles/cv/image/logo-escg.jpg') }}">
                    <div class="overlay"></div>
                </div>
                <p class="info">Bachelor spécialité Marketing <span>&bull;</span> <em class="date">2007 - 2009</em></p>
                <p>
                    Administration et Gestion des Entreprises.
                </p>

            </div>

        </div> <!-- item end -->

    </div> <!-- main-col end -->

</div> <!-- End Education -->
