{% extends 'CvBundle::layoutcv.html.twig' %}

{% block body %}
    <body>

    <!-- Header
    ================================================== -->
    <header id="home" style="background: #161415 url({{ asset('bundles/cv/image/marathon-feet-10_18_2009-1.jpg') }}) no-repeat top center;">

        <nav id="nav-wrap">

            <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
            <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

            <ul id="nav" class="nav">
                <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
                <li><a class="smoothscroll" href="#about">About</a></li>
                <li><a class="smoothscroll" href="#resume">CV</a></li>
                <li><a class="smoothscroll" href="#portfolio">Réalisations</a></li>
                <li><a class="smoothscroll" href="#contact">Contact</a></li>
                <li><a class="back" href="{{ path('blog_default_index') }}">Retour</a></li>
            </ul> <!-- end #nav -->

        </nav> <!-- end #nav-wrap -->

        <div class="row banner">
            <div class="banner-text">
                <h1 class="responsive-headline">Bruno Bouvet.</h1><br>
                <h3>Basé à Paris,<br> je suis actuellement à la recherche d'un poste de <span>Chargé de Marketing et Communication</span> en France ou à l'international<br> <span>#polyvalent #BtoB #social #startup</span>
                    <br><br>
                    <p>Hi, if you've been reading this page, please note that an english version will be published very soon. Thanks for your interest.</p>
                    Let's <a class="smoothscroll" href="#about">start scrolling</a>
                    and learn more <a class="smoothscroll" href="#about">about me</a>.
                </h3>
                <hr />
                <ul class="social">
                    <li><a href="https://twitter.com/techsquids" target="_new"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://plus.google.com/u/0/+brunobouvet/posts" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="http://www.linkedin.com/pub/bruno-bouvet/15/bb1/857" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <!--
                    <li><a href="#"><i class="fa fa-instagram" target="_blank"></i></a></li>
                    -->
                </ul>
            </div>
        </div>

        <p class="scrolldown">
            <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
        </p>

    </header> <!-- Header End -->

    <!-- About Section
        ================================================== -->
    {% include '@Cv/Default/about.html.twig' %}

    <!-- Resume Section
    ================================================== -->
    {% include '@Cv/Default/work.html.twig' %}

        <!-- Education-->

        <div class="row education">

            <div class="three columns header-col">
                <h1><span>Education</span></h1>
            </div>

            <div class="nine columns main-col">

                <div class="row item">

                    <div class="twelve columns">

                        <!--<h3>ESCG-Paris</h3>-->

                        <div>
                            <a href="http://www.escg-paris.com/" title="ESCG-Paris"> </a>
                            <img alt="logo ESCG-Paris" src="images/logo-escg.jpg">
                            <div class="overlay"></div>
                        </div>

                        <p class="info">Master's degree in Marketing <span>&bull;</span> <em class="date">2009 - 2013</em></p>

                        <p>
                            Manager d’affaire et Gestion des Entreprises.
                        </p>

                    </div>

                </div> <!-- item end -->

                <div class="row item">

                    <div class="twelve columns">

                        <!--<h3>ESCG-Paris</h3>-->

                        <div>
                            <a href="http://www.escg-paris.com/" title="ESCG-Paris"> </a>
                            <img alt="logo ESCG-Paris" src="images/logo-escg.jpg">
                            <div class="overlay"></div>
                        </div>
                        <p class="info">Bachelor spécialité Marketing <span>&bull;</span> <em class="date">2007 - 2009</em></p>
                        <p>
                            Administration et Gestion des Entreprises.
                        </p>

                    </div>

                </div> <!-- item end -->

            </div> <!-- main-col end -->

        </div> <!-- End Education -->


        <!-- Skills -->

        <div class="row skill">

            <div class="three columns header-col">
                <h1><span>Skills</span></h1>
            </div>

            <div class="nine columns main-col">

                <p>Vous trouverez ci-dessous une liste non représentative de mes skills.
                </p>

                <div class="bars">

                    <ul class="skills">
                        <li><span class="bar-expand webmarketing"></span><em>Marketing - Webmarketing</em></li>
                        <li><span class="bar-expand communication"></span><em>Communication</em></li>
                        <li><span class="bar-expand seo"></span><em>SEO</em></li>
                        <li><span class="bar-expand evenementiel"></span><em>Événementiel</em></li>
                        <li><span class="bar-expand cms"></span><em>CMS</em></li>
                        <li><span class="bar-expand design"></span><em>Design : Adobe creative suite</em></li>
                        <li><span class="bar-expand html5-CSS3"></span><em>html5 / CSS3</em></li>
                        <li><span class="bar-expand hardware_pc"></span><em>hardware pc</em></li>
                        <li><span class="bar-expand windows_OSX"></span><em>Windows - OSX</em></li>
                    </ul>

                </div><!-- end skill-bars -->

            </div> <!-- main-col end -->

        </div> <!-- End skills -->

    </section> <!-- Resume Section End-->



    <!-- Portfolio Section
    ================================================== -->
    <section id="portfolio">

        <div class="row">

            <div class="twelve columns collapsed">

                <h1>Quelques-unes de mes réalisations</h1>

                <!-- portfolio-wrapper -->
                <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">



                    <div class="columns portfolio-item">
                        <div class="item-wrap">

                            <a href="#modal-01" title="test">
                                <img alt="" src="images/portfolio/eco.jpg">
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5>ecoambassadeurs</h5>
                                        <p>Nouveau site web bilingue</p>
                                    </div>
                                </div>
                                <div class="link-icon"><i class="icon-plus"></i></div>
                            </a>

                        </div>
                    </div> <!-- item end -->



                    <div class="columns portfolio-item">
                        <div class="item-wrap">

                            <a href="#modal-02" title="">
                                <img alt="" src="images/portfolio/logo_eco_small.jpg">
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5>Ecoambassadeurs</h5>
                                        <p>Nouveau logo</p>
                                    </div>
                                </div>
                                <div class="link-icon"><i class="icon-plus"></i></div>
                            </a>

                        </div>
                    </div> <!-- item end -->



                    <div class="columns portfolio-item">
                        <div class="item-wrap">

                            <a href="#modal-03" title="">
                                <img alt="" src="images/portfolio/plaquette_EC.jpg">
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5>European Constructions</h5>
                                        <p>Nouvelle plaquette</p>
                                    </div>
                                </div>
                                <div class="link-icon"><i class="icon-plus"></i></div>
                            </a>

                        </div>
                    </div> <!-- item end -->

                    <div class="columns portfolio-item">
                        <div class="item-wrap">

                            <a href="#modal-04" title="">
                                <img alt="" src="images/portfolio/carte_visite_EC.jpg">
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5>European Constructions</h5>
                                        <p>Nouvelles cartes de visites</p>
                                    </div>
                                </div>
                                <div class="link-icon"><i class="icon-plus"></i></div>
                            </a>

                        </div>
                    </div> <!-- item end -->


                </div> <!-- portfolio-wrapper end -->

            </div> <!-- twelve columns end -->


            <!-- Modal Popup -->

            <div id="modal-01" class="popup-modal mfp-hide">

                <img class="scale-with-grid" src="images/portfolio/modals/m-eco.jpg" alt="" />

                <div class="description-box">
                    <h4>Ecoambassadeurs</h4>
                    <p>Design et création du nouveau site bilingue Ecoambassadeurs</p>
                    <span class="categories"><i class="fa fa-tag"></i>Web project management, Webdesign</span>
                </div>

                <div class="link-box">
                    <a href=""></a>
                    <a class="popup-modal-dismiss">Close</a>
                </div>

            </div><!-- modal-01 End -->

            <div id="modal-02" class="popup-modal mfp-hide">

                <img class="scale-with-grid" src="images/portfolio/modals/m-logo_eco_small.jpg" alt="" />

                <div class="description-box">
                    <h4>Ecoambassadeurs</h4>
                    <p>Nouveau logo et nouvelle charte graphique pour Ecoambassadeurs</p>
                    <span class="categories"><i class="fa fa-tag"></i>Design, Identité graphique</span>
                </div>

                <div class="link-box">
                    <a href=""></a>
                    <a class="popup-modal-dismiss">Close</a>
                </div>

            </div><!-- modal-02 End -->

            <div id="modal-03" class="popup-modal mfp-hide">

                <img class="scale-with-grid" src="images/portfolio/modals/m-plaquette_EC.jpg" alt="" />

                <div class="description-box">
                    <h4>European Constructions</h4>
                    <p>Nouvelle identité graphique et nouvelle plaquette.</p>
                    <span class="categories"><i class="fa fa-tag"></i>Branding, Identité graphique</span>
                </div>

                <div class="link-box">
                    <a href="http://www.behance.net">Details</a>
                    <a class="popup-modal-dismiss">Close</a>
                </div>

            </div><!-- modal-03 End -->

            <div id="modal-04" class="popup-modal mfp-hide">

                <img class="scale-with-grid" src="images/portfolio/modals/m-carte_visite_EC.png" alt="" />

                <div class="description-box">
                    <h4>European Constructions</h4>
                    <p>Nouvelles cartes de visites</p>
                    <span class="categories"><i class="fa fa-tag"></i>Design, Identité graphique</span>
                </div>

                <div class="link-box">
                    <a href="http://www.behance.net">Details</a>
                    <a class="popup-modal-dismiss">Close</a>
                </div>

            </div><!-- modal-04 End -->

        </div> <!-- row End -->

    </section> <!-- Portfolio Section End-->


    <!-- Call-To-Action Section
    ================================================== -->
    <section id="call-to-action">

        <div class="row">

            <div class="two columns header-col">

                <h1><span>CV.</span></h1>

            </div>

            <div class="seven columns">

                <h2><a href="">Vous êtes intéressé ? </a></h2>
                <p>Téléchargez mon <span>CV</span> en version <span>PDF</span>.
                </p>

            </div>

            <div class="three columns action">

                <a href="images/CV_Bruno_Bouvet_MARS_2016.pdf" class="button"><i class="fa fa-download"></i>Télécharger le PDF</a>

            </div>

        </div>

    </section> <!-- Call-To-Action Section End-->



    <!-- Contact Section
    ================================================== -->
    <section id="contact">

        <div class="row section-head">

            <div class="two columns header-col">

                <h1><span>Get In Touch.</span></h1>

            </div>

            <div class="ten columns">

                <p class="lead">Si vous souhaitez me contacter n'hésitez pas à m'envoyer un message. <br>Je vous répondrai dès que possible.
                </p>

            </div>

        </div>

        <div class="row">

            <div class="eight columns">

                <!-- form -->
                <form action="" method="post" id="contactForm" name="contactForm">
                    <fieldset>

                        <div>
                            <label for="contactName">Nom et Prénom <span class="required">*</span></label>
                            <input type="text" value="" size="35" id="contactName" name="contactName">
                        </div>

                        <div>
                            <label for="contactEmail">Email <span class="required">*</span></label>
                            <input type="text" value="" size="35" id="contactEmail" name="contactEmail">
                        </div>

                        <div>
                            <label for="contactSubject">Sujet <span class="required">*</span></label>
                            <input type="text" value="" size="35" id="contactSubject" name="contactSubject">
                        </div>

                        <div>
                            <label for="contactMessage">Votre message <span class="required">*</span></label>
                            <textarea cols="50" rows="15" id="contactMessage" name="contactMessage"></textarea>
                        </div>

                        <div>
                            <button class="submit">Envoyer</button>
                            <span id="image-loader">
                        <img alt="" src="images/loader.gif">
                     </span>
                        </div>

                    </fieldset>
                </form> <!-- Form End -->

                <!-- contact-warning -->
                <div id="message-warning"> Game Over, Play Again !</div>
                <!-- contact-success -->
                <div id="message-success">
                    <i class="fa fa-check"></i>Votre message m'a bien été envoyé, Merci!<br>
                </div>

            </div>


            <aside class="four columns footer-widgets">

                <div class="widget widget_contact">

                    <h4>Contact</h4>
                    <p class="address">
                        Bruno Bouvet<br>
                        <span> +33 (0) 7 62 40 66 92</span>
                    </p>

                </div>

                <div class="widget widget_tweets">

                    <h4 class="widget-title">Mes derniers tweets</h4>
                    <a class="twitter-timeline"  href="https://twitter.com/techsquids"  data-widget-id="502917926303723520">Tweets de @techsquids</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

                </div>

            </aside>

        </div>

    </section> <!-- Contact Section End-->


    <!-- footer
    ================================================== -->
    <footer>

        <div class="row">

            <div class="twelve columns">

                <ul class="social-links">
                    <li><a href="https://twitter.com/techsquids" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://plus.google.com/u/0/+brunobouvet/posts" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="http://www.linkedin.com/pub/bruno-bouvet/15/bb1/857" target="_blank"><i class="fa fa-linkedin"></i></a></li>


                    <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a>

                    </div>

            </div>

        </div>

    </footer> <!-- Footer End-->

    <!-- Java Script
    ================================================== -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
    <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>

    <script src="js/jquery.flexslider.js"></script>
    <script src="js/waypoints.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/magnific-popup.js"></script>
    <script src="js/init.js"></script>

    </body>

{% endblock body %}