<div class="row skill">

    <div class="col-md-3 col-sm-12">
        <h1><span>Skills</span></h1>
    </div>

    <div class="col-md-5 col-sm-12">

        <p>Vous trouverez ci-dessous une liste non représentative de mes skills.
        </p>

        <div class="bars">

            <ul class="skills">
                <li><span class="bar-expand webmarketing"></span><em>qefsrfgg</em></li>
                <li><span class="bar-expand communication"></span><em>Communication</em></li>
                <li><span class="bar-expand seo"></span><em>SEO</em></li>
                <li><span class="bar-expand evenementiel"></span><em>Événementiel</em></li>
                <li><span class="bar-expand cms"></span><em>CMS</em></li>
                <li><span class="bar-expand design"></span><em>Design : Adobe creative suite</em></li>
                <li><span class="bar-expand html5-CSS3"></span><em>html5 / CSS3</em></li>
                <li><span class="bar-expand hardware_pc"></span><em>hardware pc</em></li>
                <li><span class="bar-expand windows_OSX"></span><em>Windows - OSX</em></li>
            </ul>

        </div><!-- end skill-bars -->

    </div> <!-- main-col end -->

</div> <!-- End skills -->